{:dev  {:env {:cache-ttl "10000"
              :origin-url "http://localhost:3449"
              :port "8080"
              :scraper-api-key "my_scraper_api_key"}}

 :test  {:env {:cache-ttl "30000"
               :origin-url "http://localhost:3449"
               :port "8080"
               :scraper-api-key "my_scraper_api_key"}}

 :prod {:env {:cache-ttl "30000"
              :origin-url "http://localhost:3449"
              :port "8080"
              :scraper-api-key "my_scraper_api_key"}}}
